includes:
    - phpstan-baseline.php

parameters:
    level: 4
    paths:
        - config
        - routes
        - src
        - tests
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true

